body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
 header {
     text-align: center;
     margin: 0 auto;
     border-bottom: 1px solid rgb(143, 81, 81);
     width: 80%;
     color:  rgb(82, 175, 179); 
 }
 H1 {
     font-family: commissioner;
     margin-top: 1em;
     margin-bottom: 0;
 }
 h2 {
     margin-top: .5em;
 }
 
 main {
     width: 80%;
     margin: 2em auto;
     background-color: rgb(243, 234, 234);
   
 }
 /* NAVIGATION */
nav {
     width: 80%;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     border-bottom: 1px solid rgb(143, 81, 81);
 }

nav ul {
     margin: 2em;
     list-style: none;
     padding: 0;
     text-align: center;
 }
nav li {
    padding: .5em 0;
 }
nav a {
    text-decoration: none;
    font-weight: 400;
    color: rgb(88, 58, 58);
    border-radius: 7px;
    padding:.2em .5em;
    background-color: rgb(241, 183, 183);
 }
.highlighted {
    background-color: rgb(170, 239, 241);
}
nav a:hover,
nav a:focus {
    color: white;
    font-weight: 600;
}
@media (min-width: 750px) {
    nav {
        flex-direction: column;
    }
    .line-one,
    .line-two {
     display: flex;
     justify-content: center;
    }
    .line-one{
        margin-bottom:.25em ;
    }
    .line-two {
        margin-top:0;
    }
    nav a {
        margin-right: .5em;
    }
    nav a:last-child {
        margin: none;
    }
 }

/* C1-RESPONSIVE BOXES  */
.red-box{
    width: 100%;
    height: 500px;
    border: 1px solid rgb(77, 39, 39);
    background-color: rgb(241, 183, 183);
}
.green-box {
    width: 50%;
    height: 400px;
    background-color: rgb(225, 163, 238);
}
.blue-box {
    width: 50%;
    height: 250px;
    background-color:  rgb(170, 239, 241);
}

/* C2 RESPONSIVE CARD */
.black {
    max-width: 800px; 
    width: 100%;
    background-color: black;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 1em;
}
.mystery-title {
    width: 70%;
    font-size: 4rem;
    padding: .75em;
    border-bottom: 10px solid white;
    margin: 0 auto;
}
.mystery-text{
    font-size: 1.5rem;
    padding: 1em;
}

/* C3 COLLAGE IMAGE */
.collage-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    width: 90%;
    padding-bottom: 2em;
    object-fit: cover;
}
@media (min-width: 675px) {
    .collage-image {
        flex-flow: row wrap;
        justify-content: space-between;
    }
    img {
        width: 45%;
    }
}

/* C4 BLOG POSTS */
.blog-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.post {
    width: 60%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(218, 223, 250);
    border-radius: 10px;
    margin: 2em;
}
.post * {
    margin: .5em;
}
.post-title {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(7, 8, 10);
}
.post-image {
    width: 70%;
    object-fit: cover;
    order: 1;
    margin: 0;
}
.post-content {
    color: rgb(42, 59, 80);

}

@media (min-width: 820px) {
    .blog-posts{
        flex-flow: row wrap;
        justify-content: center;
    }
    .post {
        width: 40%;
        margin: 1em;
    }
    .post-image {
        order: 0;
    }
}

/* C5 CALL TO ACTION */
.call-to-action {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://tellusdmsmedia.newmindmedia.com/wsimgs/The-Club_2_933698845.jpg[ProductImage]);
	background-size: cover;
	background-attachment: fixed;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cta-title {
    font-size: 2.5rem;
    max-width: 80%;
    margin: .5em;
}
.cta-text {
    font-size: 1rem;
    max-width: 60%;
    margin: 1.5em 0;
}
.cta-btn {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    background-color: #22499c;
    padding: .5em 1.5em;
    margin:1em 0;
}

/* C6 align-self STAIRS */
.stairs {
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
}
.stair {
    width: 30%;
    height: 70px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}
.stair-1,
.stair-3 {
    background-color: rgb(241, 183, 183);
}
.stair-2{
    background-color:  rgb(170, 239, 241);
    align-self: center;
}
.stair-3{
    align-self: flex-end;
}

/* C6 - FLEX FLOW */

.flow-boxes {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.flow-box {
    width: 40%;
    height: 200px;
    margin: 1em;
    background-color: rgb(241, 183, 183);
}

/* C7 - FLASH BOX */
.flash-boxes {
    display: flex;
    flex-flow: row wrap;
}
.flash-box {
    width: 50%;
    height: 200px;
    opacity: 0;
}
.fbox-1 {
    background-color: rgb(241, 183, 183);
}
.fbox-2 {
    background-color: rgb(209, 241, 183);
}
.fbox-3 {
    background-color: rgb(183, 225, 241);
}
.fbox-4 {
    background-color: rgb(241, 183, 231);
}
@media (max-width: 599px) {
    .fbox-1 {
        opacity: 1;
    }
}
@media (min-width: 600px) and (max-width: 649px) {
    .fbox-2 {
        opacity: 1;
    }
}
@media (min-width: 650px) and (max-width: 699px) {
    .fbox-3 {
        opacity: 1;
    }
}
@media (min-width: 700px)  {
    .fbox-4 {
        opacity: 1;
    }
}